@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root{
   --primary-color: #5870cb;
   --secudary-color: #8c9eff;   ;
   --terciary-color: #dd24ee;
}

hmtl{
   width: 100vw;
   height: 100vh;
}

body{
   background: var(--primary-color);
   font-family: poppins, sans-serif;
}

.flex{
   display: flex;
}

.center{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@keyframes appear{
   from{
      opacity: 0;
      transform: scale(0.95);

   }
   to{
      opacity: 1;
   }
}  