.image-container{
    width: 50vw;
    display: flex;
    align-self: center;
}

.image-container .image{
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
    animation-name: appear;
    animation-duration: 1.5s;
}


.circle{
    width: 100vw;
    height: 100vh;
    background: #01579b;
    position: absolute;
    top: 0;
    clip-path: circle(60% at left 50%);
    z-index: -1;
    animation-name: appear;
    animation-duration: 3s;
}

.register{
    width: 50vw;
    height: 100vh;
    text-align: center; 
    display: flex;
    justify-content: center;
}

.form-container{
    width: 65%;
    background-color: white;
    border-radius: 10px;
    margin: 30px 0;
    animation-name: appear;
    animation-duration: 2s;
}

.title{
    padding: .7rem;
    font-size: 2rem;
    margin: 0;
    color: rgba(0, 0, 0, 0.829);
}

.subtitle{
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.452);
    font-weight: 700;
}

form,
.input-container{
    flex-direction: column;
    align-items: center;
}

.input-container{
    margin: .7rem;
    align-items: flex-start;
}



span{
    font-weight: 800;
    color: rgb(0, 0, 0);
    padding: .3rem;
}

input{
    background: #f1f8e9;
    border: none;
    outline: none;
    height: 25px;
    border-radius: 6px;
    padding: 10px;
    color: black;
    font-weight: 700;
}

input[type="submit"]{
    width: 30%;
    height: 40px;
    background: #01579b;
    margin: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover{
    background: var(--secudary-color);
}

input::placeholder{
    color: var(--primary-color);
    font-size: .7rem;
}
