.title{
    width: 100%;
}


.title h1{
    margin: 0;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: x-large;
    width: 100%;
    text-shadow: -1px -1px 5px black;
}

main{
    background: cornflowerblue;
    margin: 50px 200px;
    background-image: url(ASSETS/bg\ nuven.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}

.subscribeSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    background: rgba(0, 0, 0, 0.224);
    padding: 10px;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    color: white;
    
}

.subscribeSection h2{
    margin-bottom: 10px;
}

legend{
    margin-bottom: 10px;
}