.navigation-space{
    justify-content: space-between;
    align-items: center;
}

.starbucks-logo{
    width: 10vw;
}

.items-nav li{
    list-style: none;
    margin-right: 40px;
}

.items-nav a{
    text-decoration: none;  
    color: rgb(44, 44, 44);
    font-weight: 900;
    font-size: 1.5vw;
}

.items-nav a:hover{
    color: black;
}

.content-wrapper{
    width: 60vw;
}

.content-wrapper .title{
    font-size: 5vw;
    margin-top: 8vh;
}

.content-wrapper .subtitle{
    font-size: 5vw;
}

.content-wrapper .subtitle-bold{
    font-weight: 800;
    font-family: sans-serif;
    color: #1b5e20;
    font-size: 5.5vw;
}

.content-wrapper .description{
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2vh;
    font-size: 1.4vw;
    line-height: 4vh;
}

.button-more{
    font-family: sans-serif;
    background-color: #1b5e20;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 1vw;
    cursor: pointer;
    transition: all 0.7 ease;
    font-size: 1vw;
    display: flex;
    align-items: center;
}

.button-more:hover{
    background: #2e7d32;
    transition: all 0.7 ease;
}

.starbucks-wrapper{
    width: 40vw;
    justify-content: center;
    align-items: center;
    height: 70vh;
    display: none;
} 

.toggle-starbucks-wrapper li a img{
    width: 5vw;
    height: 15vh;
}

.starbuck-green.active{
        display: flex;  
}

.starbuck-green.active .circle{
    background: linear-gradient(45deg, #2e7d32 60%, #66bb6a 80%);   
}
.starbuck-pink.active{
        display: flex;  
}

.starbuck-pink.active .circle{
    background: linear-gradient(45deg, #f06292 60%, #f48fb1 80%);   
}


.starbuck-purple.active{
        display: flex;  
}

.starbuck-purple.active .circle{
    background: linear-gradient(45deg, #d500f9 60%, #ea80fc 80%);   
}


.starbucks-image{
    width: 60%;
    height: 100%;
}

.circle{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #a3a3a3, #414141);    
    bottom: 0;
    right: 0;
    clip-path: circle(50%  at right 110%);
    z-index: -1;
}



.toggle-starbucks-wrapper{
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.toggle-starbucks-wrapper li{
    list-style-type: none;
    margin: 15px;
}

.toggle-starbucks-wrapper img{
    width: 60px;
    height: 100px;
    transition: all .5s ease;
}

.toggle-starbucks-wrapper img:hover{
    transform: translate(0, -10px);
    transition: all .5s ease;
}

