@media only screen and (max-width: 425px){
    
}


/* Mobile */
@media only screen and (max-width: 425px){ 
    body{
        margin: 0;
    }
    
    .navigation-space{
        display: none;
        appearance: none;
    }
    .wrapper{
        display: block;
        height: 500px;
    }

    .content-wrapper{
        width: 100vw;
        text-align: center;
    }

    .content-wrapper .title{
        font-size: 10vw;
    }

    .content-wrapper .subtitle{
        font-size: 10vw;
    }

    .content-wrapper .description{
        font-size: 3vw;
    }

    .content-wrapper .subtitle-bold{
        font-size: 10vw;
    }

    .button-more{   
        height: 20px;
        justify-content: center;
        margin-left: 20px;
        font-size: 7px;
        padding: 10px;
    }

    .starbucks-image{
        width: 50vw;
        height: 100%;
    }

    .starbucks-wrapper{
        margin: 0 auto;
        max-height: 250px;
    }   

    .circle{  
        clip-path: circle(50%  at bottom);
    }

    .toggle-starbucks-wrapper{
        flex-direction: column;
        left: 90%;
    }

    .toggle-starbucks-wrapper li {
        margin: 0;
    }

    .toggle-starbucks-wrapper li a img{
        width: 40px;
    }
}
